@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
.container-fluid{
    padding: 0;
}
*{
    padding: 0;
    margin: 0;
    color: #505050;
    font-size: 16px;
    border-radius: 3px;
}
header, footer{
    border-radius: 0;
}
body{
    height: 100%;
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
a{
    color: white !important;
}
a:hover{
    color: #51D3B7;
}
header{
    width: 100%;
    height: 60px;
    background-color: #08366A;
    padding: 8px 120px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.menu{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 4px;
}
.menu ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-decoration: none;
    list-style-type: none;
    margin-top: 4px;
}
.menu ul li{
    margin-right: 24px;
}



.main{
    flex: 1 1 auto;
    padding: 90px 120px;
}
.welcome .text{
    background: url("../img/banner.jpg") no-repeat;
    width: 100%;
    background-size: 100%;
    min-height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 45px 80px;
}
.welcome .text h1{
    color: #08366A;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 24px;
}
.welcome .text p{
    color: white;
    font-weight: 500;
    font-size: 14px;
}
.welcome .text .sale p{
    font-size: 36px;
    font-weight: 700;
}
.welcome .text .sale label{
    font-size: 64px;
    font-weight: 700;
    color: #08366A;
}


.search{
    background-color: #08366A;
    margin: -50px 100px;
    padding: 24px 56px;
    -webkit-box-shadow: 0 3px 5px rgba(8,54,106,0.25);
    box-shadow: 0 3px 5px rgba(8,54,106,0.25);
}
.search form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.search input{
    width: 175px;
    background-color: #51D3B7;
    color: white;
    padding: 14px 24px;
    border: none;
    -webkit-box-shadow: 0 1px 5px rgba(81,211,183,0.25);
    box-shadow: 0 1px 5px rgba(81,211,183,0.25);
}
.search input:hover{
    background-color: #69EED1;
}
.search input:active{
    background-color: #46B9A0;
}
.search label{
    color: #51D3B7;
    font-weight: 500;
    font-size: 12px;
    margin: 0;
}
.search-item select{
    display: block;
    padding: 4px 16px;
    width: 160px;
    font-weight: 400;
    font-size: 14px;
    border-color: #51D3B7;
}
.search-item select option{
    display: block;
    padding: 4px 16px;
    width: 160px;
    font-weight: 400;
    font-size: 14px;
    border-color: #51D3B7;
}



.about{
    background-image: -o-linear-gradient(220deg, #51D3B7, #D3F4ED 50%);
    background-image: linear-gradient(-130deg, #51D3B7, #D3F4ED 50%);
    padding: 32px 120px;
}

.col{
    padding-left: 0;
}
.about-item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 26px 0;
}
.about-item p{
    margin-left: 16px;
}






.section-label h2{
    font-size: 24px;
    font-weight: 700;
    color: #08366A;
}
.section-label hr{
    width: 300px;
    margin: 0;
    border-width: 1px; border-color: #08366A;
}




.container-blog{
    padding-top: 36px;
}
.blog a:hover{
    opacity: 0.7;
}
.blog a:hover .blog-items img{
    opacity: 0.7;
}
.blog-items{
    margin-top: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.blog-item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.blog-img img{
    width: 250px;
    height: 180px;
    margin-bottom: 16px;
    padding-left: 15px;
    padding-right: 0px;
    -o-object-fit: cover ;
    object-fit: cover ;
}
.blog-descr{
    margin-left: 16px;
}
.blog-items a{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.blog-items label{
    font-size: 16px;
    color: #08366A;
    font-weight: 700;
}
.blog-items p{
    font-size: 14px;
    margin-bottom: 0;
}
.blog-items span{
    display: block;
    color: #A8A8A8;
    font-size: 14px;
    margin-top: 16px;
}
.blog input{
    width: 175px;
    margin-top: 8px;
    background-color: #51D3B7;
    color: white;
    padding: 14px 24px;
    border: none;
    -webkit-box-shadow: 0 1px 5px rgba(81,211,183,0.25);
    box-shadow: 0 1px 5px rgba(81,211,183,0.25);
}
.blog input:hover{
    background-color: #69EED1;
}
.blog input:active{
    background-color: #46B9A0;
}


footer{
    bottom: 0;
    width: 100%;
    background-color: #08366A;
    padding: 24px 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
footer .media{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
footer .media img{
    margin-right: 24px;
}


@media (max-width: 480px) {
    .main, .about, footer{
        padding-left: 0px;
        padding-right: 0px;
    }
    .main{
        padding-top: 36px;
    }
    .welcome .text{
        background: url("../img/banner-mob.jpg") no-repeat;
        width: 100%;
        background-size: 100%;
        min-height: 400px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 60px 24px;
    }
    .welcome .text .sale{
        display: none;
    }
    .search{
        height: auto;
        background-color: #08366A;
        margin: -50px 0px;
        padding: 24px 24px;
    }
    .search form{
        display: block;
    }
    .search input{
        width: 100%;
        margin-top: 24px;
    }
    .search label{
        font-size: 14px;
        margin-bottom: 4px;
        margin-top: 16px;
    }
    .search-item select{
        display: block;
        padding: 16px 24px;
        width: 100%;
        font-size: 16px;
    }

    .about{
        padding-left: 24px;
        padding-right: 24px;
    }
    .about-items{
        margin: 24px 0;
    }
    .about-item{
        margin: 8px 0;
    }


    .blog h2{
        padding-left: 24px;
    }
    .blog-items{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .blog .col{
        padding-right: 0;
    }

    .blog-item{
        /*display: !*flex*!;*/
    }

    /**/
    .blog-items{
        margin-top: 24px;
        display: block;
    }

    .blog-item{
        display: block;
    }
    .blog-img img{
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }
    .blog-descr{
        margin-left: 0px;
        padding-left: 24px;
        padding-right: 24px;
        padding-bottom: 16px;
    }
    .blog-items a{
        display: block;
    }
    /**/
    .blog input{
        width: 87%;
        margin-left: 24px;
        margin-right: 24px;
    }
    footer{
        padding: 24px;
        -webkit-box-pack: justify;
        flex-direction: column;
    }
    footer .f-logo{
        width: 120px;
        height: 120px !important;
    }
    footer .menu ul{
        display: block;
    }
    footer .menu ul li{
        margin-bottom: 16px;
    }
}


/*///////////////////////CATALOG////////////////////////*/
.sort{
    margin-top: 32px;
    padding-left: 8px;
}
.sort button{
    /*width: 175px;*/
    width: 100%;
    margin-top: 8px;
    background-color: #51D3B7;
    color: white;
    padding: 14px 24px;
    border: none;
    -webkit-box-shadow: 0 1px 5px rgba(81,211,183,0.25);
    box-shadow: 0 1px 5px rgba(81,211,183,0.25);
}
.sort button:hover{
    background-color: #69EED1;
}
.sort button:active{
    background-color: #46B9A0;
}
.sort-item{
    margin-top: 24px;
}
.sort-item span{
    font-size: 14px;
    font-weight: 700;
}
.sort-item form{
    height: 76px;
    margin-top: 8px;
    overflow: auto;
}
.sort-item label{
    font-size: 14px;
    margin-bottom: 2px;
}
.org-type-sort ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.org-type-sort ul li{
    padding: 12px 24px;
    border-bottom: 1px solid #08366A;
    border-radius: 0;
    list-style-type: none;
}
.org-type-sort ul li:hover{
    background-color: #F1F1F1;
}
.org-type-sort ul li a{
    color: #08366A;
    font-size: 14px;
}
.org-type-sort ul .active{
    background-color: #08366A;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color:#fff;
}

.org-type-sort ul li .active:active{
    color: #fff0e8 !important;
}
.org-type-sort ul .active a{
    color: white;
}

.list a{
    display: flex;
}
.list a:hover{
    opacity: 0.8;
}
.list{
    /*display: flex;*/
    margin-top: 30px;
}
.item{
    margin-bottom: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}
.list .item-img img{
    width: 300px;
    height: 200px;
    -o-object-fit: cover ;
    object-fit: cover ;
}

.list-item-descr{
    margin-left: 16px;
}
.list-item-descr h2{
    font-size: 16px;
    font-weight: 700;
    color: #08366A;
    margin-bottom: 4px;
}
.list-item-descr p{
    font-size: 14px;
}
.list-item-descr .company{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.list-item-descr .company p{
    margin-left: 8px;
    margin-top: 2px;
}
.list-item-descr ul{
    list-style-type: none;
}
.list-item-descr ul li{
    font-size: 14px;
}

@media (max-width: 480px){
    .section-label{
        margin-top: 70px;
        padding-left: 24px;
    }
    .section-label hr{
        width: 250px;
    }
    .item{
        margin-bottom: 8px;
        display: block;
    }
    .list{
        margin-top: 8px;
    }
    .list a {
        display:block;
    }
    .list .item-img img{

        width: 100%;
        height: 200px;
        -o-object-fit: cover ;
        object-fit: cover ;
    }

    .list-item-descr{
        padding: 16px 24px;
        margin-left: 0;
    }
    .org-type-sort{
        overflow-x: scroll;
    }
    .sort{
        margin-top: 16px;
        padding-left: 0;
    }
    .sort-items{
        width: 100%;
        height: 800px;
        overflow-y: auto;
        position: absolute;
        background-color: white;
        z-index: 1000;
        padding: 32px 24px;
        -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.25);
        box-shadow: 0 1px 5px rgba(0,0,0,0.25);
        display: none;
        margin-top: -110px;

    }
    .sort-but{
        width: 50px;
        padding: 4px;
        margin-right: 24px;
        margin-bottom: 16px;
        /*float: right;*/
        position: absolute;
        right: 8px;
        margin-top: -170px;
        z-index: 10000;
    }
    .catalog .row{
        margin: 0;
    }
    .catalog .col{
        padding: 0;
    }
    .sort-item{
        margin-top: 24px;
    }
    .sort-item span{
        font-size: 24px;
    }
    .sort-item form{
        height: 100px;
        margin-top: 16px;
    }
    .sort-item label{
        font-size: 16px;
        margin-bottom: 8px;
    }
}













/*.................CARD//////////////////////*/

.menu-categories-items ul li a{
    color: #505050!important;
    font-size: 16px!important;
}
.menu-categories .sort{
    margin-top: 0;
}
.menu-categories-items{
    padding-right: 20px;
}
.menu-categories-items ul{
}
.menu-categories-items ul li{
    padding: 12px 24px 12px 0;
    border-bottom: 1px solid #08366A;
    border-radius: 0;
    list-style-type: none;
}
.menu-categories-items ul li:hover{
    background-color: #F1F1F1;
}
.menu-categories-items ul a{
    color: #08366A;
    font-size: 14px;
}


.card-main-info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.card-item-img img{
    width: 350px;
    height: 300px;
    -o-object-fit: cover ;
    object-fit: cover ;
}
.card-item-descr{
    padding-left: 24px;
}
.card-item-descr h2{
    font-size: 24px;
    color: #08366A;
    font-weight: 700;
    margin: 0;
}
.card-item-descr p{
    font-size: 14px;
    color: #505050;
    margin-top: 20px;
}
.card-item-descr span a{
    font-size: 14px;
    color: #A8A8A8;

}
.card-item-descr input{
    /*width: 250px;*/
    background-color: #51D3B7;
    color: white;
    padding: 14px 24px;
    margin-top: 12px;
    border: none;
    -webkit-box-shadow: 0 1px 5px rgba(81,211,183,0.25);
    box-shadow: 0 1px 5px rgba(81,211,183,0.25);
}
.card-item-descr input:hover{
    background-color: #69EED1;
}
.card-item-descr input:active{
    background-color: #46B9A0;
}
.sea
.card-contacts{
    border-left: 1px solid #08366A;
    padding-left: 20px;
}
.card-contacts label{
    font-weight: 700;
    color: #08366A;
}
.card-contacts .work-hours span{
    display: block;
    font-weight: 500;
}
.card-contacts p{
    margin: 0;
}
.card-contacts .work-hours, .address{
    padding-bottom: 20px;
}
.card-contacts .number{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.card-contacts .number p{
    margin-left: 8px;
    font-size: 24px;
    font-weight: 700;
    color: #08366A;
}


.service-list{
    margin-top: 20px;
}
.service-list .category label{
    font-size: 14px;
    font-weight: 700;
    color: #51D3B7;
    margin-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 0;
}

.service-list .category .subcategory label{
    font-size: 14px;
    font-weight: 700;
    color: #505050;
    margin: 0;
    padding-top: 8px;
    padding-bottom: 4px;
}
.service-list .category .subcategory .add-cart-and-cost label{
    font-size: 14px;
    font-weight: 700;
    color: #505050;
    margin-top: 0;
    padding-bottom: 0;
}


.service-list .category p{
    margin: 0;
}
.service-list .service{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.reviews{
    margin-top: 20px;
}
.reviews .reviews-item label{
    font-weight: 700;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 2px;
}
.reviews .reviews-item p{
    font-size: 14px;
}

.reviews form span{
    display: block;
    font-weight: 700;
    font-size: 14px;
}
.reviews form textarea{
    width: 100%;
    padding: 12px 24px;
    border: 1px solid #51D3B7;

}
.reviews form input{
    /*width: 250px;*/
    background-color: #51D3B7;
    color: white;
    padding: 14px 24px;
    margin-top: 0px;
    border: none;
    -webkit-box-shadow: 0 1px 5px rgba(81,211,183,0.25);
    box-shadow: 0 1px 5px rgba(81,211,183,0.25);
}
.reviews form input:hover{
    background-color: #69EED1;
}
.reviews form input:active{
    background-color: #46B9A0;
}






/*////////////ЯКОРЬ////////////////*/
.category label{ position:relative; }
.category label span{ position:absolute; top:-200px;}

.section-label h2{ position:relative; }
.section-label h2 span{ position:absolute; top:-200px;}


/*///////////////КАРТА//////////////*/
.map {
    width: 100%;
    height: 300px;
    background-color: #333;
    margin-bottom: 30px;
}

[class*="copyrights-pane"] {
    display: none !important;
}

[class*="ground-pane"] {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}






@media (max-width: 480px){
    .card .row{
        margin: 0;
    }
    .card .col{
        padding: 0;
    }
    .card-main-info{
        display: block;
    }
    .card-item-img img{
        margin-top: 8px;
        width: 100%;
    }
    .card-item-descr{
        padding-top: 24px;
        padding-left: 24px;
        padding-right: 24px;
        /*bottom: -64px;*/
    }


    .card-contacts{
        border-left: none;
        border-top: 1px solid #08366A;
        border-bottom: 1px solid #08366A;
        padding-left: 24px!important;
        padding-right: 24px!important;
    }
    .card-contacts label{
        padding-top: 20px;
    }
    .card-contacts .number{
        padding: 24px 0;
    }

    .service-list, .reviews{
        padding-left: 24px;
        padding-right: 24px;
    }
    .map{
        margin-top: 32px;
    }
    .card .section-label{
        margin-top: 0;
    }
    .reviews form input, .card-item-descr input{
        width: 100%;
        background-color: #51D3B7;
        color: white;
        padding: 14px 24px;
        margin-top: 0px;
        border: none;
        -webkit-box-shadow: 0 1px 5px rgba(81,211,183,0.25);
        box-shadow: 0 1px 5px rgba(81,211,183,0.25);
    }
    .menu-categories-items{
        margin-top: 30px;
    }
    .menu-categories-items ul{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        overflow-x: scroll;
    }
    .menu-categories-items ul li{
        padding-left: 16px;
        padding-right: 16px;
    }
}




/*......................BLOG-ITEM////////////*/

.blog-page-img img{
    width: 100%;
    height: 350px;
    -o-object-fit: cover ;
    object-fit: cover ;
}

.blog-page-text{
    padding-top: 30px;
}.blog-page-text p{
     padding-top: 24px;
 }

.blog-page input{
    /*width: 250px;*/
    background-color: #51D3B7;
    color: white;
    padding: 14px 24px;
    margin-top: 0px;
    border: none;
    -webkit-box-shadow: 0 1px 5px rgba(81,211,183,0.25);
    box-shadow: 0 1px 5px rgba(81,211,183,0.25);
}
.blog-page input:hover{
    background-color: #69EED1;
}
.blog-page input:active{
    background-color: #46B9A0;
}

@media (max-width: 480px){
    .blog-page-text .section-label{
        margin-top: 4px;
        padding-left: 0;
    }
    .blog-page-text{
        padding-left: 24px;
        padding-right: 24px;
    }
    .blog-page input{
        width: 100%;
    }
}
.org-type-sort ul .active li {
    color: white;
}
@media (max-width: 480px) {
    .org-type-sort ul li{
        height: 68px;
    }
    .org-type-sort {
        margin-top: 16px;
    }
}
/*...........CONTACTS///////////////*/

.contacts-content{
    padding-left: 15px;
    padding-top: 30px;
}
.contacts-item label{
    font-weight: bold;
    font-size: 16px;
    color: #242424;
    margin-bottom: 0;
}
.contacts-item p{
    font-size: 16px;
    color: #242424;
}

@media (max-width: 480px){
    .contacts-main .row{
        margin: 0;
        padding: 0;
    }
    .contacts-main .col{
        padding: 0;
        margin: 0;
        margin-top:24px;
    }
    .contacts{
        padding-left: 24px!important;
        padding-right: 24px!important;
    }

}
/*//////////////HOTEL CARD////////////////*/
.card-item-descr{
    position: relative;
}
.hotel-gallery{
    position: absolute;
    bottom: 0;
}
.hotel-gallery ul{
    display: flex;
    list-style-type: none;
    margin-bottom: 0;
}
.hotel-gallery ul li img{
    width: 65px;
    height: 65px;
    margin-right: 8px;
    -o-object-fit: cover ;
    object-fit: cover ;
}
.hotels-inf-item{
    margin-top: 30px;
}
.prefer-list{
    margin-top: 20px;
}
.prefer-list img{
    margin-right: 4px;
}
.rooms-item img{
    margin-right: 4px;
    width: 170px;
    height: 130px;
    -o-object-fit: cover ;
    object-fit: cover ;
}
.rooms-item ul li img{
    margin-right: 4px;
    width: 12px;
    height: 9px;
}
.prefer-list ul{
    column-count: 5;
    list-style-type: none;
}
.rooms-item ul{
    width: 150px;
    /*height: 130px;*/
    list-style-type: none;
}
.rooms{
    margin-top: 20px;
}
.rooms-item label{
    font-weight: bold;
    color: #08366A;
    width: 200px;
    text-align: center;
}
.rooms-item .cost{
    color: #505050;
}
.rooms-item{
    margin-top: 12px;
    height: 130px;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    align-items: center;
}
.rooms-item input{
    height: 56px;
    background-color: #51D3B7;
    color: white;
    padding: 14px 24px;
    margin-top: 0px;
    border: none;
    -webkit-box-shadow: 0 1px 5px rgba(81,211,183,0.25);
    box-shadow: 0 1px 5px rgba(81,211,183,0.25);
}
.rooms-item input:hover{
    background-color: #69EED1;
}
.rooms-item input:active{
    background-color: #46B9A0;
}

@media (max-width: 480px){
    .hotel-gallery{
        bottom: -85px;
    }
    .card-contacts{
        margin-top: 85px;
    }
    .prefer-list ul{
        column-count: 2;
    }
    .prefer-list{
        margin-left: 24px;
        margin-right: 24px;
    }
    .rooms-item{
        margin-top: 30px;
        height: auto;
        display: block;
    }
    .rooms-item img{
        margin-right: 0px;
        width: 100%;
        height: 250px;
        margin-bottom: 16px;
    }
    .rooms-item ul li img{
        margin-right: 4px;
        width: 22px;
        height: 22px;
        margin-bottom: 0;
    }
    .rooms-item input{
        width: 90%;
        margin-left: 5%;
    }
    .rooms-item label{
        font-size: 18px;
        width: 300px;
        text-align: left;
        margin-top:80px;
        margin-left: 24px;
        margin-right: 24px;
    }
    .cost{

        margin-top:10px !important;;

    }
    .rooms-item ul{
        column-count: 2;
        width: 350px;
        height: auto;
        margin-left: 24px;
        margin-right: 24px;
        margin-top: 12px;
        margin-bottom: 10px;
    }
    footer img{
        margin-bottom: 20px;
    }
}

/*.........footer.............*/
.payment-img{
    width: 300px;
}
footer .f-logo{
    height: 70px;
}

/*..........sanatorium..............*/
.section{
    margin-top: 30px;
}
.remark{
    margin-top: 20px;
}
.sub-section-label{
    margin-top: 24px;
    margin-bottom: 12px;
}
.sub-section-label label{
    font-size: 18px;
    font-weight: 700;
    color: #51D3B7;
}
.consalt ul li{
    list-style-type: none;
}
.consalt ul li ul{
    margin-left: 16px;
}
.audit-list{
    display: flex;
}

@media (max-width: 480px){
    .consalt-section{
        padding-left: 24px;
        padding-right: 24px;
    }
    .consalt-section .section-label{
        padding-left: 0;
    }
    .audit-list{
        display: block;
    }
}
.nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.menu{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 4px;
}
.menu ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-decoration: none;
    list-style-type: none;
    margin-top: 4px;
    position: relative;
}
.menu ul li{
    margin-right: 24px;
}

.menu ul li ul{
    min-width: 200px;
    display: none;
    position: absolute;
    margin-top: -4px;
    padding: 24px 24px 12px 24px;
    background-color: #08366A;
    left: 0;
    right: 0;
}
.menu ul li:hover ul{
    display: block;
}
.menu ul li ul li{
    margin-bottom: 12px;
    display: block;
    background-color: #08366A;
    color: white;
}
@media (max-width: 480px){
    .menu ul li ul{
        position: relative;
    }
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////*/
.burger{
    display: none;
}
@media (max-width: 480px){
    header{
        padding-left: 24px;
        padding-right: 24px;
    }
    #mob-menu{
        display: none;
    }
    .menu ul{
        display: block;
    }

    .menu ul li{
        margin-bottom: 12px;
    }
    .mob-menu-div{
        position: relative;
        width: 100vw;
        margin-left: -24px;
        /*margin-top: -42px;*/
    }
    .menu{
        display: block;
        background-color: #08366A;
        padding: 24px 24px;
        /*margin-top: 44px;*/
        margin-right: -24px;
    }
    .burger{
        display: block;
        width: 36px;
        position: absolute;
        right: 0;
        top:-40px;
    }
}
/*///////////////////////////touragency/////////////////////////*/
.rooms-item label span{
    color: #505050;
    font-size: 12px;
    font-weight: 400;
}
.rooms .details{
    padding: 20px 30px;
    background: linear-gradient(rgba(225,225,255,0), rgba(81,211,183,.4));
}
.rooms .details label{
    color: #51D3B7;
    margin: 0;
}
.rooms-item-agency{
    cursor: pointer;
}
.rooms-item-agency:hover{
    /*background-color: #F1F1F1;*/
    background: linear-gradient(white, #F1F1F1);
}
/*///////////////////////////touragency/////////////////////////*/
.rooms-item__slider {
    width: 170px;
    height: 130px;
    /* тут задай свои размеры фотки */
    position: relative;
    overflow: hidden;
    -o-object-fit: cover ;
    object-fit: cover ;
    margin-right: 4px;
}
.rooms-item__line {
    /*position: absolute;*/
    top: 0;
    left: 0;
    display: flex;
    transition: 0.3s;
}
.rooms-item__line > div {
    /*width: 170px;*/
    height: 130px;

    /* и тут вставь свои размеры */
}
.rooms-item__line > div > img {
    width: 100%;
    height: 100%;
}
.arrow {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    width: 95%;
    left: 2.5%;
}
.arrow img {
    width: 10px;
    height: 10px;
}
.arrow > div.left {
    transform: rotate(180deg); /*Тут просто переворачиваю левую фотку*/
}
.left{
    width: 7px;
    height: 20px;
}
.right{
    width: 7px;
    height: 20px;
}


/*..............................MODAL/////////////////////////////*/
.wrap-modal.active {
    opacity: 1;
    transform: scale(1);
    z-index: 99999;
}
.wrap-modal {
    transition: 0.4s;
    opacity: 0;
    transform: scale(0);
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;

    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
}
.container-modal {
    width: 50%;
    background: #fff;
    height: auto;
    padding: 30px 20px;
}
.modal-header {
    padding: 0;
    margin-bottom: 30px;
}
.modal-header > div {
    display: flex;
    align-items: center;
}
.modal-price{
    margin-top: 20px;
}
.modal__title {

    font-size: 20px;
    font-weight: 400;

}


.modal-people-count .set-count {
    display: flex;
    align-items: center;
    grid-column-gap: 5px;
    margin-left: 10px;
}
.set-count-setting {
    user-select: none;
    width: 25px;
    height: 25px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 22px;
}
.modal__title-price{
    transition: .2s;
    font-size: 18px;
    font-weight: 400;
    border:1px solid #000;
    padding: 7px 12px;
    border-radius: 15px;
    cursor:pointer;
    margin-right: 10px;
}
.modal__title-price:hover{
    background: #000;
    color:#fff;
}
.modal__buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    position: relative;
    align-items: center;
}
.modal__btn {
    border-radius: 10px;
    padding: 8px 12px;
    outline: none;
    border: none;
    color: #fff;
}
.modal_success {
    position: absolute;
}
.modal__btn.in_cart {
    background: green;
}
.modal__btn.cancel {
    background: red;
}
.list-services{
    width: 60%;
}
.item-modal-service{
    display: flex;
    margin-bottom: 7px;
}
.item-modal-service>div{
    width: 75%;
    display: flex;
    align-items: center;
}
.item-modal-service>div span{
    display: block;
}
.item-modal-service_title{
    width: 75%;
}
.item-modal-service button{
    border:1px solid #000;
    background: transparent;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: relative;
}
.item-modal-service button.serv-btn-plus::before{
    content: "+";
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);

    left: 50%;
}
.item-modal-service button.serv-btn-minus::before{
    content: "-";
    position: absolute;
    top: 49%;
    transform: translate(-50%,-50%);

    left: 50%;
}
.change-count-services span{
    display: block;
    width: 25px;
    text-align: center;
}
/* .item-modal-service.active button:before{
    content: "-";
} */
@media(max-width:1450px){
    .container-modal{
        width: 75%;
    }
    .modal-header{
        grid-column-gap: 10px;
    }
    .modal__title {
        font-size: 17px;
    }
    .item-modal-service>div span{
        font-size: 15px;
    }
    .list-services {
        width: 80%;
    }
    .item-modal-service>div {
        width: 100%;
    }
    .item-modal-service>div.change-count-services{
        justify-content: end;
        width: 20%;
    }

}
@media(max-width:860px){
    .container-modal{
        width: 95%;
    }
    .modal-header{
        flex-direction: column;
        grid-row-gap: 15px;
    }
    .list-services{
        width: 100%;
    }
    .item-modal-service>div.change-count-services{
        width: 80px;
    }
}
@media(max-width:450px){
    .modal__title-price{
        font-size: 16px;
        padding: 5px 10px;
    }
}
/*.....................cart////////////////////*/
.cart-section{
    margin-top: 30px;
}
.office-nav{
    margin-top: 32px;
    margin-bottom: 30px;
}
.all-cost{
    border: 1px solid #08366A;
    padding: 25px 30px;
    margin-top: 30px;
}
.all-cost p{
    font-size: 24px;
}
.all-cost label{
    font-size: 24px;
    font-weight: 500;
    color: #08366A;
}
.all-cost input{
    width: 100%;
    margin-top: 8px;
    background-color: #51D3B7;
    color: white;
    padding: 14px 24px;
    border: none;
    -webkit-box-shadow: 0 1px 5px rgba(81,211,183,0.25);
    box-shadow: 0 1px 5px rgba(81,211,183,0.25);
}
.all-cost input:hover{
    background-color: #69EED1;
}
.all-cost input:active{
    background-color: #46B9A0;
}




.cart-section .rooms-item label{
    font-weight: bold;
    color: #08366A;
    width: 150px;
    text-align: center;
}
.cart-section .rooms-item .cost{
    color: #505050;
}
.cart-section .rooms-item{
    margin-top: 12px;
    /*height: 130px;*/
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    align-items: center;
}
.cart-section .rooms-item .name{
    font-weight: 300;
    width: 200px;
    text-align: center;
}
.cart-section .rooms-item .service{
    font-weight: bold;
    color: #08366A;
    width: 90%;
}
.cart-section .rooms-item .service li{
    color: #08366A;
}
.cart-section .rooms-item .service li span{
    font-weight: 300;
    margin-left: 8px;
}
.cart-section .rooms-item .date{
    font-weight: 300;
    width: 100px;
    text-align: center;
}


.cart-section .rooms-item{
    position: relative;
    align-items: center;
}
.rooms-item .delete{
    width: 22px;
    height: 22px;
    position: absolute;
    top: 10px;
    right: 18px;
    cursor: pointer;
}
.rooms-item .delete:hover{
    opacity: 0.5;
}



@media(max-width:450px){
    .cart-section .rooms-item{
        height: auto;
        display: block;
    }
    .cart-section .section-label {
        margin-top: 0px;
        padding-left: 24px;
    }
    .cart-section{
        margin-top: 0px;
        margin-bottom: 30px;
    }
    .cart-section .rooms-item .name{
        text-align: left;
    }
    .cart-section .rooms-item label{
        text-align: left;
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .cart-section .rooms-item .date{
        text-align: left;
    }
    .rooms-item .delete{
        top: 270px;
        right: 18px;
    }
    .cart-section .rooms-item .cost{
        text-align: right;
    }
    .cart-section .rooms-item ul {
        column-count: 1;
    }
    .office .row{
        margin: 0;
    }
    .office .col{
        padding-right: 0;
    }
}


.profile{
    display: block;
    padding-left: 16px;
}
.edit{
    width: 22px;
    height: 22px;
    cursor: pointer;
}
.edit:hover{
    opacity: 0.5;
}
.profile-data{
    /*column-width: 180px;*/
    column-count: 3;
    margin-top: 16px;
    margin-bottom: 20px;
}
.profile-data-item{
    margin-right: 60px;
    margin-bottom: 8px;
    /*width: 180px;*/
}
.profile-data-item label{
    font-weight: bold;
    margin: 0;
}
.profile-data-item input{
    display: block;
    width: 180px;
    border-color: #51D3B7;
    border-style: solid;
    padding: 4px 12px;
}
.profile-data-item .radio{
    display: flex;
    height: 34px;
}
.profile-data-item .radio p{
    margin-right: 20px;
    margin-top: 6px;
}
.profile-data-item .radio input{
    display: flex;
    width: 16px;
    margin-right: 8px;
}
.profile .button input{
    height: 56px;
    background-color: #51D3B7;
    color: white;
    padding: 14px 24px;
    margin-top: 0px;
    border: none;
    -webkit-box-shadow: 0 1px 5px rgba(81,211,183,0.25);
    box-shadow: 0 1px 5px rgba(81,211,183,0.25);
}
.profile .button input:hover{
    background-color: #69EED1;
}
.profile .button input:active{
    background-color: #46B9A0;
}
.promocode-used{
    opacity: 0.5;
}




.promocodes .item label{
    font-weight: bold;
    color: #08366A;
    width: 200px;
    text-align: center;
}
.promocodes .item .name{
    color: #505050;
    font-weight: 400;
}
.promocodes .item .date{
    color: #505050;
    font-weight: 400;
}
.promocodes .item{
    width: 50%;
    margin-top: 12px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    align-items: center;
}

@media(max-width:450px){
    .promocodes .item{
        width: 100%;
        margin-top: 12px;
        height: 80px;
        display: flex;
        justify-content: space-between;
        vertical-align: middle;
        align-items: center;
    }
}
.hide{
    display: none !important;
}
.product_list{
    justify-content: space-between;
    display: flex;
}
.product_item_header{
    width: 90%;
    max-width: 100%;
}
.policy ol li{
    font-weight: 600;
    margin-bottom: 24px;
}
.policy ol li ol li{
    font-weight: 400;
    margin-left: 20px;
    margin-bottom: 8px;
    margin-top: 8px;
}
.policy ol li ol li ol li{
    margin-left: 32px;
}
.policy ol {
    list-style: none;
    counter-reset: li;
}
.policy ol li:before {
    counter-increment: li;
    content: counters(li,".") ". ";
}
.policy p{
    margin-left: 20px;
    margin-bottom: 8px;
    margin-top: 8px;
}
.policy {
    text-align: justify;
}
.instructions a{
    color: #08366A !important;
}
.instructions .step{
    margin-bottom: 24px;
}
.instructions .step .step-img{
    display: flex;
    justify-content: space-between;
}
.instructions .step .cntr{
    display: block;
    margin: 0 auto;
}
.attention{
    border: 1px solid #A11F34;
    background-color: rgb(161, 31, 52, 0.31);
    padding: 15px 12px;
    display: flex;
    margin-bottom: 16px;
}
.attention p{
    margin-left: 12px;
    margin-bottom: 0;
}
.instructions-label{
    margin-top: 30px;
    margin-bottom: 24px;
}

.wrapper {
    position: relative;
    min-height: 100%;
}
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
}

@media(max-width:480px){
    .instructions .step .step-img{
        display: block;
    }
    .instructions .step .step-img img{
        width: 100%;
        margin-bottom: 8px;
    }
    .instructions .permanent-instr img{
        width: 100%;
    }
    .description-hotel-txt{
        width: 320px!important;
    }
    .item_margin{
        height: auto!important;
    }
    .quantity_person{
        font-size: 18px !important;
        width: 300px !important;
        text-align: left !important;
        margin-top: 10px !important;
        margin-left:0 !important;
    }
}

.wrapper {
    position: relative;
    min-height: 100%;
}
.content {
    padding-bottom: 90px;
}
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
}
.product{
    margin-top: 10px;
}
.product_image{
    width: 170px;
    height: 130px;
}
.product_header{
    font-size: 24px;
    color: #08366A;
}
.product_item_header_name{
    font-size: 24px;
    color: #08366A;
    font-weight: 700;
}
.product_item_option{
    display:flex;
    justify-content: space-between;
}
.product_option_list{
    width: 550px;
    max-width: 100%;
    justify-content: space-between;
}
.product_option_list_item{
    display: flex;
    justify-content: space-between;
}
.product_option_list_item_qty{
    display: flex;
    justify-content: center;
}
.product_option_list_item_cost{
    font-weight: bold;
    display:flex;
    justify-content: end;
}
.product_list_item_header{
    font-weight: 700;
}
.product_option_list_san{
    width: 600px;
    max-width: 100%;
    justify-content: space-between;
}
